// Bootstrap core JavaScript
script(type='text/javascript', src='/javascripts/jquery.min.js')
script(type='text/javascript', src='/javascripts/bootstrap.min.js')
script(type='text/javascript', src='/javascripts/layer/layer.js')
script(type='text/javascript', src='/javascripts/js.cookie.js')
script(type='text/javascript', src='/javascripts/css3-animate-it.js')
script(type='text/javascript', src='/javascripts/commonjs.js')