doctype html
html
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        meta(name="renderer", content="webkit")
        meta(http-equiv="Cache-Control", content="no-siteapp")
        meta(name="description", content="")
        meta(name="author", content="MuSheng")
        //styles
        link(rel="stylesheet", type="text/css", href="/stylesheets/bootstrap.min.css")
        link(rel="stylesheet", type="text/css", href="/stylesheets/customstyles.css")
        //Custom styles for this template
        link(rel="stylesheet", type="text/css", href="/stylesheets/cover.css")
        link(rel="stylesheet", type="text/css", href="/stylesheets/animations.css")
        //fav and touch icons
        link(rel="shortcut icon", href="")
        //Standard iPhone
        link(rel="apple-touch-icon-precomposed", sizes="57x57" href="")
        //Retina iPhone
        link(rel="apple-touch-icon-precomposed", sizes="114x114", href="")
        //Standard iPad
        link(rel="apple-touch-icon-precomposed", sizes="72x72", href="")
        //Retina iPad
        link(rel="apple-touch-icon-precomposed", sizes="144x144", href="")
        //HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
        //if lt IE 9
        script(src="/javascripts/oldIE/html5shiv.min.js")
        script(src="/javascripts/oldIE/respond.min.js")
        title= title
    body
        block content