/*return top*/
div#return-top a{
    color: #B7B7B7;
    background: #fff;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 2px;
}
div#return-top a:hover{
    color: #000;
    border: 1px solid #000;
    /*box-shadow: 1px 1px 3px 3px #ccc;*/
}
div#return-top a{
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
/*screen width > 768*/
@media screen and (min-width: 768px){

    div#return-top{
        /*position: fixed;
        bottom: 0;
        right: 0;
        margin: 15px 30px 40px;*/
        position: relative;
    }
}

/*screen width < 768*/
@media screen and (max-width: 767px) {
    div#return-top{
        /*position: absolute;
        bottom: -130px;
        right: 0;
        margin: 15px 30px 40px;*/
        position: relative;
        margin: 0 auto;
        width: 100px;
    }
}